:root {
    --background: #f6f6f6;
    --font: #222;
    --border: #333;
    --screen: #eee;
    --btn-hover: rgb(179, 75, 75);
    --btn-active: #ccc;
    --btn-red: #faa;
    --btn-red-hover: #e99;
    --btn-red-active: #d88;
    --btn-blue: #aaf;
    --btn-blue-hover: #99e;
    --btn-blue-active: #88d;
  }
  



  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    /* footer support */
    position: relative;
    min-height: 100%;
  }
  
  body {
    background-color: var(--background);
    color: var(--font);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    /* footer support */
    margin-bottom: 100px;
    background-image: url(./jojo.jpg);
   
  }
  
  button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }
  
  /* MAIN */
  
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
  }
  
  .calculator {
    width: 400px;
    border: 2px var(--border) solid;
    border-radius: 15px;
    padding: 20px;
    background-image:linear-gradient(rgb(34, 138, 129),pink);
    margin: 0 auto;
    opacity: 75%;
  }
  
  .screen {
    padding: 10px 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--screen);
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .history {
    min-height: 32px;
    font-size: 20px;
  }
  
  .screen-current {
    min-height: 64px;
    font-size: 40px;
  }
  
  .buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   /* grid-gap: 10px; */
   
  }
  
  #clearBtn {
    grid-column: span 2;
    background-color: red;
  }
  #deleteBtn{
    grid-column: span 2;
    background-color: blue;
    padding:20px;
  }
  
  
  .btn {
    padding: 20px;
    font-size: 20px;
  }
  .data-number{
    background-color: black;
  }
  
  .btn:hover {
    background-color: var(--btn-hover);
    box-shadow: 3px 5px #88d;
    z-index: 9999999999;
  }
  
  .btn:active {
    background-color: var(--btn-active);
  }
  
  .btn-red {
    background-color: var(--btn-red);
  }
  
  .btn-red:hover {
    background-color: var(--btn-red-hover);
  }
  
  .btn-red:active {
    background-color: var(--btn-red-active);
  }
  
  .btn-blue {
    background-color: var(--btn-blue);
  }
  
  .btn-blue:hover {
    background-color: var(--btn-blue-hover);
  }
  
  .btn-blue:active {
    background-color: var(--btn-blue-active);
  }
  
  /* Disables input spinners in calc screen */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* FOOTER */
  
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  
  .fa-github {
    color: var(--font);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }

  [data-number] {
    background: rgb(63, 88, 127);
  }

  [data-operator]{
    background: rgb(63, 88, 127);
  }

  .equals{
    background: rgb(63, 88, 127);
  }

  #pointBtn{
    background: rgb(63, 88, 127);
  }

